{% extends 'base.html.twig' %}

{% block title %}List of all channel patterns {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container-fluid channel-pattern-list-container">


        <div class="container">
            <h1>Channel patterns list <a class="btn btn-primary" href="/channel_pattern/add" role="button">Add new channel pattern</a></h1>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Pattern ID
                    </th>
                    <th scope="col">
                        Needle
                    </th>
                    <th scope="col">
                        Pattern
                    </th>
                    <th scope="col">
                        YouTube channel
                    </th>
                    <th>
                        See details
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for channel_pattern in channel_patterns %}
                    <tr scope="row">
                        <th>
                            {{ channel_pattern.id }}
                        </th>
                        <th>
                            {{ channel_pattern.needle }}
                        </th>
                        <th>
                            {{ channel_pattern.pattern }}
                        </th>
                        <th>
                            {{ channel_pattern.youtubechannel.commonname }} / {{ channel_pattern.youtubechannel.youtubeusername }}
                        </th>
                        <th>
                            <a class="btn btn-primary" href="/channel_pattern/id/{{ channel_pattern.id }}" role="button">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
